#home-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}
.info-text{
    text-align: center;
}
.name{
    font-weight: bold;
    font-size: 0.15rem;
    text-align: center;
    padding:0;
    margin:0;
    color:white;
}
.position{
    font-weight: bold;
    font-size: 0.15rem;
    text-align: center;
    padding:0;
    margin:0;
}
.goal{
    font-size: 0.1rem;
    text-align: center;
    padding:0;
}
.hi{
    font-size: 0.2rem;
    color:black;
}
.go-button{
    font-size: 0.2rem;
    color:white;
}

@media only screen and (max-width:600px){
    .i-am{
        display: none;
    }
    .hi{
        display: none;
    }
}