.home-div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.my-image{
    width:400px;
    height:400px;
}
.info-text{
    text-align: center;
}
h1{
    padding:0;
    margin:0;
}
.name{
    font-weight: bold;
    font-size: 0.2rem;
}
.position{
    font-weight: bold;
    font-size: 0.1rem;    
}