.home-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 100vh;
}
.my-image{
    width:300px;
    height:300px;
}
.info-text{
    text-align: center;
}
.name{
    font-weight: bold;
    font-size: 0.15rem;
    text-align: center;
    padding:0;
    margin:0;
    color:white;
}
.position{
    font-weight: bold;
    font-size: 0.15rem;
    text-align: center;
    padding:0;
    margin:0;
}
.goal{
    font-size: 0.1rem;
    text-align: center;
    padding:0;
}
.hi{
    font-size: 0.2rem;
    color:black;
}

@media only screen and (max-width:600px){
    .i-am{
        display: none;
    }
    .hi{
        display: none;
    }
}
@media only screen and (min-width:600px){

}